#header {
    font-size: 50px;
    color: white;
    text-shadow: 3px 2px #000000;
}

body {
    background-color: rgb(240, 184, 237);
}

html {
    text-align: center;
}

div:empty {
    display: none;
}

#output {
    background-color: rgba(157, 70, 228, 0.733);
    padding: 6px;
    border: 2px;
    border-color: rgb(146, 7, 146);
    border-style: solid;
    box-shadow: 2px 5px rgb(146, 7, 146);
    white-space: pre-wrap;
}

#title,
#howMany {
    font-size: 30px;
}

hr {
    border-color: rgba(157, 70, 228, 0.733);
}