#header {
    font-size: 50px;
    color: white;
    text-shadow: 3px 2px #000000;
    animation: pulse 6s linear infinite;
    pointer-events: none;
}

body {
    background-color: rgb(240, 184, 237);
    overflow-x: hidden;
}

html {
    text-align: center;
}

div:empty {
    display: none;
}

#output {
    background-color: rgba(157, 70, 228, 0.733);
    padding: 6px;
    border: 2px;
    border-color: rgb(146, 7, 146);
    border-style: solid;
    box-shadow: 2px 5px rgb(146, 7, 146);
}

#total {
    background-color: rgba(157, 70, 228, 0.733);
    border-color: rgb(146, 7, 146);
    box-shadow: 2px 5px rgb(146, 7, 146);
}

hr {
    border-color: rgba(157, 70, 228, 0.733);
}

#donut {
    z-index: -100;
    background: none;
    position: absolute;
    background-image: url('https://i.pinimg.com/originals/de/10/71/de1071d401d48c8db0777c4119282306.gif');
    background-size: 400px 400px;
    height: 200%;
    width: 100%;
    left: 0;
    top: 0;
    animation: donut 1000s linear infinite;
    pointer-events: none;
    display: block;
}

@keyframes donut {
    35% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1.5);
    }
}

#form {
    font-size: 25px;
    color: white;
    text-shadow: 3px 2px #000000;
}

#error {
    background-color: rgba(228, 75, 70, 0.733);
    padding: 6px;
    border: 2px;
    border-color: rgb(146, 23, 7);
    border-style: solid;
    box-shadow: 2px 5px rgb(146, 23, 7);
}