body {
    text-align: center;
    background-color: pink;
}

form {
    background-color: lightpink;
    border: red;
    border-radius: 5%;
    font-weight: bold;
}

button {
    color: rgb(0, 255, 255);
    background-color: black;
}

#error {
    color: red;
    text-transform:capitalize;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(0, 0, 0);
}
